@charset "UTF-8";
@import url(reset.css);
@import url(font.css);
/* 전체메뉴 */
.btn_nav { z-index: 9999; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; position: absolute; left: -15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.btn_nav .bar_box { width: 20px; height: 14px; position: relative; }

.btn_nav .bar_box .bar { position: absolute; width: 100%; height: 2px; background-color: #212121; left: 0%; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }

.btn_nav .bar_box .bar.top { top: 0; }

.btn_nav .bar_box .bar.mid { top: 6px; }

.btn_nav .bar_box .bar.bot { width: 60%; top: 12px; }

.btn_nav.on .bar_box .bar.top { -webkit-transform: rotate(45deg); transform: rotate(45deg); top: 6px; }

.btn_nav.on .bar_box .bar.mid { width: 0; }

.btn_nav.on .bar_box .bar.bot { width: 100%; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 6px; }

.nav_all { display: none; position: absolute; left: 0; top: 0; width: 100%; background-color: #fff; padding: 0 40px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2); z-index: 999; overflow: hidden; }

.nav_all .close_nav_all { display: none; }

.nav_all.on { display: block; }

.nav_all_inner { margin: 0 auto; max-width: 1140px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-flow: row-reverse; flex-flow: row-reverse; }

.nav_all_btn_main { display: none; }

.nav_all_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: -20px; }

.nav_all_list_wrap { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; padding-top: 100px; padding-bottom: 80px; position: relative; }

.nav_all_list_wrap .btn_pp { position: absolute; right: 34px; bottom: 0; width: 37%; max-width: 320px; }

.nav_all_item { width: 146px; margin-top: 20px; }

.nav_all_item_tit, .nav_all_item_link { display: block; font-family: 'Godo'; font-weight: 500; font-size: 20px; line-height: 40px; }

.nav_all_item_tit.btn_dep2, .nav_all_item_link.btn_dep2 { display: none; }

.nav_all_dep2 { margin-top: 10px; font-size: 16px; line-height: 2.2; color: #424242; }

.nav_all_dep2 a { display: inline-block; }

.nav_all_dep2_item:hover:hover { text-shadow: 0 0 0.8px black; }

.nav_all_top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 260px; padding: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; -ms-flex-negative: 0; flex-shrink: 0; background-color: #fef7e8; position: relative; }

.nav_all_top::after { content: ''; position: absolute; background-color: #fef7e8; left: 0; top: 0; width: 50vw; height: 100%; z-index: -1; }

.nav_all_top_cont { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.nav_all_top .log_in_box p { font-size: 14px; line-height: 1.43; margin: 10px 0; color: #666; }

.nav_all_top .join_box { margin-top: 20px; }

.nav_all_top .join_box p { font-size: 14px; line-height: 1.43; color: #666; margin-bottom: 10px; }

.nav_all_top .log_info .btn_pp { display: none; }

.nav_all_top .btn_login { display: block; width: 100%; height: 40px; background-color: #f6c34b; border-radius: 6px; color: #fff; font-size: 14px; font-weight: bold; background-image: url(../../images/nav_all/ico_login_small.svg); background-position: 17px center; background-repeat: no-repeat; }

.nav_all_top .btn_join { display: block; width: 100%; border: 1px solid #f6c34b; border-radius: 6px; height: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 38px; background-image: url(../../images/nav_all/logo_ds.svg); background-repeat: no-repeat; background-position: 17px center; background-color: #fff; color: #424242; font-weight: bold; }

.nav_all_top .member_box_img { display: block; position: relative; width: 120px; height: 120px; margin: 0 auto; border: 4px solid #f6c34b; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 20px; overflow: hidden; background-image: url(../../images/nav_all/member_normal.svg); background-position: center 13px; background-size: contain; background-color: #fff; background-repeat: no-repeat; overflow: hidden; }

.nav_all_top .member_box_img img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.nav_all_top .member_box_img.ty_pp_member::before { content: ''; position: absolute; width: 38px; height: 24px; background-image: url(../../images/nav_all/pp_logo.svg); background-repeat: no-repeat; background-size: cover; left: 50%; bottom: 9px; margin-left: -19px; }

.nav_all_top .member_box_name { display: block; font-size: 30px; font-family: 'Godo'; font-weight: normal; color: #212121; margin-top: 10px; }

.nav_all_top .member_box_name .tag_level { display: none; }

.nav_all_top .member_box_txt { font-size: 14px; line-height: 1.43; margin-top: 5px; color: #6b6b6b; }

.nav_all_top .member_box_lv { margin-top: 8px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.nav_all_top .member_box_lv .point { white-space: nowrap; word-break: break-all; font-size: 13px; line-height: 20px; }

.nav_all_top .member_box_lv .point b { vertical-align: top; font-size: 16px; }

.nav_all_top .member_box_lv .tag_level { -ms-flex-negative: 0; flex-shrink: 0; }

.nav_all_top_btns { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 20px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.nav_all_top_btn { height: 90px; width: 90px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #f6c34b; border-radius: 6px; background-color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; position: relative; }

.nav_all_top_btn.m_only { display: none; }

.nav_all_top_btn .img_box { height: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 6px; }

.nav_all_top_btn strong { display: block; font-size: 14px; line-height: 20px; letter-spacing: -0.2px; }

.nav_all .pp_tooltip { display: none; position: absolute; white-space: nowrap; font-size: 13px; line-height: 18px; background-color: #fae1a4; border-radius: 6px; -webkit-box-shadow: 3px 3px 0 0 rgba(81, 57, 0, 0.2); box-shadow: 3px 3px 0 0 rgba(81, 57, 0, 0.2); padding: 8px 20px 8px 8px; letter-spacing: -.33px; left: 90%; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); text-align: left; z-index: 99; cursor: default; color: #513900; }

.nav_all .pp_tooltip.on { display: block; }

.nav_all .pp_tooltip::before { content: ''; right: 100%; position: absolute; border-left: 10px solid transparent; border-top: 10px solid #fae1a4; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.nav_all .pp_tooltip .close_tooltip { position: absolute; width: 20px; height: 20px; cursor: pointer; background-image: url(../../images/nav_all/close_nav_all.svg); background-size: 8px; background-repeat: no-repeat; background-position: center center; right: 0; top: 2px; }

.tag_level { display: inline-block; padding: 0 5px; position: relative; font-size: 11px; line-height: 15px; color: #fff; border-radius: 3px 3px 3px 0; margin-left: 9px; }

.tag_level_arrow { position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top-width: 8px; border-top-style: solid; left: -5px; bottom: 0; }

.tag_level b { display: inline-block; vertical-align: top; font-size: 13px; line-height: 16px; font-weight: bold; }

.tag_level.lv1 { background-color: #e74c3c; }

.tag_level.lv1 .tag_level_arrow { border-top-color: #e74c3c; }

.tag_level.lv2 { background-color: #e97820; }

.tag_level.lv2 .tag_level_arrow { border-top-color: #e97820; }

.tag_level.lv3 { background-color: #ecb000; }

.tag_level.lv3 .tag_level_arrow { border-top-color: #ecb000; }

.tag_level.lv4 { background-color: #b6ce00; }

.tag_level.lv4 .tag_level_arrow { border-top-color: #b6ce00; }

.tag_level.lv5 { background-color: #55aad8; }

.tag_level.lv5 .tag_level_arrow { border-top-color: #55aad8; }

.tag_level.lv6 { background-color: #3070ae; }

.tag_level.lv6 .tag_level_arrow { border-top-color: #3070ae; }

.tag_level.lv7 { background-color: #8650c7; }

.tag_level.lv7 .tag_level_arrow { border-top-color: #8650c7; }

@media (max-width: 1024px) { .nav_all { padding: 0 30px; padding-right: 0; }
  .nav_all_list_wrap .btn_pp { right: 20px; width: 42%; } }

@media (max-width: 767px) { .nav_all { display: block; position: fixed; z-index: 10000; padding: 0; width: 300px; overflow-y: auto; background-color: #fff; height: 100%; max-height: 100%; border-radius: 0 0 30px 0; -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2); -webkit-transition: left .4s ease-in-out, opacity .4s ease-in-out; transition: left .4s ease-in-out, opacity .4s ease-in-out; top: 0; left: -330px; }
  .nav_all.on { left: 0; }
  .nav_all .close_nav_all { display: block; position: absolute; z-index: 10; width: 50px; height: 50px; right: 0; top: 0; background: url(../../images/nav_all/close_nav_all.svg) no-repeat center center; }
  .nav_all_inner { display: block; }
  .nav_all_top { display: block; width: 100%; padding: 0; overflow: hidden; }
  .nav_all_top::after { display: none; }
  .nav_all_top .log_info { padding: 20px; }
  .nav_all_top .log_info .btn_pp { display: block; width: 240px; margin: 0 auto; margin-top: 20px; }
  .nav_all_top .btn_login, .nav_all_top .btn_join { width: 200px; margin-left: auto; margin-right: auto; }
  .nav_all_top .member_box { padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: left; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .nav_all_top .member_box_img { width: 80px; height: 80px; margin: 0; -ms-flex-negative: 0; flex-shrink: 0; border-width: 3px; }
  .nav_all_top .member_box_img.ty_pp_member::before { width: 26px; height: 16px; margin-left: -13px; bottom: 4px; }
  .nav_all_top .member_box_info { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; min-width: 0; padding-left: 10px; }
  .nav_all_top .member_box_name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 24px; line-height: 27px; margin-top: 0; }
  .nav_all_top .member_box_name .name { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; min-width: 0; }
  .nav_all_top .member_box_name .tag_level { display: block; -ms-flex-negative: 0; flex-shrink: 0; height: auto; font-family: 'Noto Sans KR'; }
  .nav_all_top .member_box_lv { margin-top: 4px; display: block; }
  .nav_all_top .member_box_lv .point { font-size: 13px; }
  .nav_all_top .member_box_lv .tag_level { display: none; }
  .nav_all_top_btns { margin-left: -1px; margin-top: 0; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; border-top: 1px solid #f6c34b; }
  .nav_all_top_btn { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; max-width: 50%; border: none; border-radius: 0; border-left: 1px solid #f6c34b; -webkit-box-sizing: border-box; box-sizing: border-box; height: 80px; }
  .nav_all_top_btn.m_only { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .nav_all_top_btn strong { font-size: 13px; }
  .nav_all_btn_main { display: -webkit-box; display: -ms-flexbox; display: flex; height: 40px; padding: 0 20px; background-color: #f6c34b; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .nav_all_btn_main .logo { width: 94px; }
  .nav_all_btn_main span { font-size: 14px; color: #fff; margin: 0 10px; }
  .nav_all_list { display: block; margin-top: 0; }
  .nav_all_list_wrap { padding-top: 0; padding-bottom: 0; }
  .nav_all_list_wrap .btn_pp { display: none; }
  .nav_all_item { width: 100%; margin-top: 0; border-bottom: 1px solid #f1f1f1; }
  .nav_all_item_tit { display: none; }
  .nav_all_item_tit.btn_dep2 { display: block; cursor: pointer; position: relative; }
  .nav_all_item_tit.btn_dep2::after { content: ''; position: absolute; width: 12px; height: 8px; background-image: url(../../images/nav_all/dep2_arrow.svg); background-repeat: no-repeat; background-size: contain; right: 20px; top: 50%; margin-top: -4px; }
  .nav_all_item.on .nav_all_item_tit.btn_dep2::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  .nav_all_item_tit, .nav_all_item_link { padding: 0 20px; font-size: 14px; line-height: 40px; }
  .nav_all_dep2 { display: none; border-top: 1px solid #f1f1f1; padding: 2px 20px; margin-left: -30px; margin-top: 0; background-color: #f9f9f9; font-size: 14px; line-height: 40px; }
  .nav_all_item.on .nav_all_dep2 { display: block; }
  .nav_all_dep2_item { display: inline-block; vertical-align: top; margin-left: 30px; } }

.pp_popup { display: none; position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 9999; background-color: rgba(0, 0, 0, 0.4); }

.pp_popup.on { display: block; }

.pp_popup_inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; }

.pp_popup_cont { position: relative; max-width: 320px; width: 100%; background-color: #fff; border-radius: 20px 0 20px 20px; padding: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pp_popup_close { position: absolute; width: 40px; height: 40px; border-radius: 50%; background-color: #fff; background-image: url(../../images/pp_popup/close_popup.svg); background-repeat: no-repeat; background-position: center center; right: 0; top: -20px; }

.pp_popup_txt { margin-top: 10px; }

.pp_popup_txt.ty1 { font-size: 18px; line-height: 1.33; }

.pp_popup_txt.ty2 { font-size: 16px; line-height: 1.38; }

.pp_popup_btn { font-size: 14px; font-weight: bold; padding: 0 20px; height: 40px; line-height: 40px; border-radius: 20px; background-color: #f6c34b; color: #fff; }

.pp_popup_btn_box { margin-top: 20px; }

.pp_popup .fc_yellow { color: #f6c34b; }

.pp_popup.popup_reporter .pp_popup_cont { padding: 0; }

.pp_popup.popup_reporter .reporter_card_wrap { width: 100%; padding: 30px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; max-height: calc(100vh - 50px); overflow-y: auto; }

.reporter_card { max-width: 260px; margin: 0 auto; }

.reporter_card_logo { margin-bottom: 10px; }

.reporter_card_thumb_area { display: block; width: 200px; margin: 0 auto; }

.reporter_card_thumb { padding-top: 100%; position: relative; }

.reporter_card_thumb::before { position: absolute; width: 100%; text-align: center; left: -50%; top: 50%; content: 'PRESS'; color: rgba(33, 33, 33, 0.1); font-size: 50px; line-height: 1; letter-spacing: 5px; -webkit-transform: translate(-22px, -50%) rotate(-90deg); transform: translate(-22px, -50%) rotate(-90deg); font-weight: bold; }

.reporter_card_thumb .img_box { overflow: hidden; position: absolute; width: 100%; height: 100%; left: 0; top: 0; border: 4px solid #ff5050; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 20px; background-image: url(../../images/reporter/bg_idcard.svg); background-repeat: no-repeat; background-size: cover; background-position: center center; }

.reporter_card_thumb .img_box img { -o-object-fit: cover; object-fit: cover; width: 100%; height: 100%; }

.reporter_card_id { margin-top: 18px; }

.reporter_card_id .name { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 30px; letter-spacing: -.3px; line-height: 34px; }

.reporter_card_id .name .log_ico_sns { display: inline-block; width: 34px; height: 34px; border: 1px solid #ddd; border-radius: 4px; overflow: hidden; margin-right: 6px; }

.reporter_card_id .name .log_ico_sns img { width: 100%; }

.reporter_card_id .logo { display: block; margin-top: 9px; }

.reporter_card_id .email { font-size: 18px; line-height: 1.33; margin-top: 10px; }

.reporter_card_info { padding-top: 15px; margin-top: 20px; border-top: 1px solid #ccc; }

.reporter_card_info .desc { font-size: 13px; line-height: 1.38; letter-spacing: -0.13px; }

.reporter_card_info .period { font-size: 12px; line-height: 1.42; letter-spacing: -0.12px; margin-top: 5px; color: #999; }

.reporter_card_info .benefit { margin-top: 20px; font-size: 12px; font-weight: 500; line-height: 1.42; letter-spacing: -0.12px; color: #212121; }

.reporter_card .add_img_set { margin-top: 20px; }

.reporter_card .add_img_set p { margin-top: 10px; font-size: 14px; line-height: 20px; }

.reporter_card .add_img_set p span { display: inline-block; font-size: 12px; }
