.pp_gallery {
    font-size: 0;
    margin: 0 -10px;
    margin-top: -30px;

    &_item {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
        margin-top: 30px;
        &_link {
            cursor: pointer;
        }
        .txt_box {
            margin-top: 5px;
            .tit {

                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                max-height: 38px;
            }
            @at-root .pp_gallery.ty_webtoon & {
                margin-top: 0;
                padding: 12px 15px;
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 0 0 8px 8px;
                word-break: normal;
            }
        }

        .writer_set {
            margin-top: 5px;
        }
        .epi_list_wrap {
            display: none;
        }
        .list_item_info {
            margin-top: 0;
            & > * {
                margin-top: 5px;
            }
        }
    }
    &.ty_webtoon .sc_thumb_img {
        border-radius: 8px 8px 0 0;
    }

}

.pp_list {
    &_item {
        & + & {
            margin-top: 20px;
        }
    }

    &.ty_freeboard {

        .pp_list_item {
            padding-top: 15px;
            border-top: 1px solid #f1f1f1;
            & + .pp_list_item {
                margin-top: 15px;
            }
        }
    }
    &.ty_expedition {
        .pp_list_thumb {
            width: 80px;
        }
    }

    &_link {
        display: flex;
        //align-items: center;
    }
    &_thumb {
        width: 106px;
        flex-shrink: 0;
        position: relative;
        @at-root .ty_freeboard & {
            padding-left: 10px;
        }
        .sc_thumb_info {
            margin-top: 5px;
        }

        .status {
            position: absolute;
            z-index: 10;
            left: 0;
            top: -8px;
            padding: 0 8px;
            height: 20px;
            line-height: 19px;
            font-size: 11px;
            font-weight: bold;
            border-radius: 10px;
            color: #fff;
            &.on {
                background-color: $c_key;
            }
            &.off {
                background-color: #ccc;
            }
            &.soon {
                background-color: #fff;
                border: 1px solid $c_key;
                box-sizing: border-box;
                line-height: 17px;
                color: $c_key;
            }
        }
    }

    &_txt {
        flex: 1;
        align-self: center;
        @at-root .ty_as & {
            align-self: flex-start;
        }
        min-width: 0;
        padding-left: 10px;
        @at-root .ty_freeboard & {
            padding-left: 0;
        }
        .tit {
            font-size: 13px;
            line-height: 18px;
            max-height: 36px;
            letter-spacing: -0.13px;
            font-weight: 500;
            .sc_ico {
                margin-right: 2px;
            }
        }
    }
    .writer_set {
        margin-top: 6px;
    }
}


.list_epi {

    &_item {
        & + & {
            border-top: 1px solid #e5e5e5;
        }
    }
    &_link {
        display: flex;
        align-items: center;
        padding: 0 50px 0 10px;
        position: relative;
        .tit {
            min-width: 0;
            font-size: 13px;
            line-height: 50px;
            padding-right: 10px;
        }
        .info_co {
            flex-shrink: 0;
            font-size: 10px;
            padding-left: 12px;
            background-image: url(../../images/ico/ico_ct_co.svg);
            background-position: 0 center;
            background-repeat: no-repeat;
            color: #666;
        }
        .ico_arrow {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 100%;
            background-image: url(../../images/ico/ico_arrow_l.svg);
            background-repeat: no-repeat;
            background-position: center center;

        }
    }

}


.list_common {
    &_item {
        border-bottom: 1px solid #eee;
    }
    &_link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;

    }
    .tit {
        font-size: 14px;
        font-weight: 500;
    }
}

.list_scroll {
    padding-right: 10px;
    margin-right: -10px;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $c_key;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 4px;
    }
}


.sub_vid_slide {
    overflow-x: auto;
    padding-bottom: 10px;
    margin-right: -20px;

    .sub_vid_list {
        white-space: nowrap;
        font-size: 0;
    }
    .sub_vid_item {
        margin-right: 20px;
        display: inline-block;
        width: 36%;
        vertical-align: top;
        .txt_box {
            margin-top: 5px;
            .tit {
                font-size: 12px;
                line-height: 18px;
                max-height: 36px;
                letter-spacing: -0.12px;
                font-weight: normal;
            }
        }
    }
}


.list_bar {
    li {
        position: relative;
        padding-left: 0.6em;
        &::before {
            content: '-';
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}


@media (max-width:767px) {
    .pp_gallery {
        margin-top: -20px;
        &_item {
            margin-top: 20px;
            .txt_box {
                margin-top: 5px;
                .tit {

                    font-size: 13px;
                    line-height: 18px;
                    max-height: 36px;
                }
                @at-root .pp_gallery.ty_webtoon & {
                    padding: 8px 9px;
                }
            }
        }
    }

    .list_common {
        &_link {
            height: 40px;
        }
        .tit {
            font-size: 12px;
        }
    }
}
