.con_list {
    &_item {
        padding: 60px 0 59px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .lottie_box {
            .lottie_player {
                width: 100%;
                height: auto;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 100%;
        }
        .svg_box {
            max-width: 100%;
            width: 1160px;
            position: relative;
            &_inner {
                padding-top: 62.0689%;
                position: relative;
            }
            .svg_cont {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }

        }
        svg {
            max-width: 100%;
        }
        background-repeat: repeat-x;background-position: center center;
        &1 {
            &::before {
                background-color: #8780bc;
            }


            //background-image: url(../../images/main/main_bg1.png);
            background-color: #8780bc;
            .link01 {
                .lottie_player {
                    width: 100%;
                    height: auto;
                }
            }

            .link01_wrap {
                width: 400px;
                height: 340px;
                transform: translate(630px, 340px);;
            }

            .main_story_list_wrap {
                width: 320px;
                height: 300px;
                transform: translate(431px, 119px);
            }
            .main_story_list {
                //position: absolute;
                display: flex;
                //width: 30%;
                //left: 38.6%;
                //top: 13%;
                text-align: left;

                &_item {
                    width: 50%;
                    box-sizing: border-box;
                    &:nth-child(odd) {
                        padding-right: 32px;
                    }
                    &:nth-child(even) {
                        padding-left: 32px;
                    }
                }
                &_link {
                    display: block;
                    padding-top: 5px;
                }
                .tit {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 4px;
                    line-height: 1.2;
                }
                .writer_set {
                    margin-top: 4px;
                }
                .sc_tag {
                    position: absolute;
                    left: 0;
                    top: -5px;
                    z-index: 10;
                }
            }
        }
        &2 {
            &::before {
                background-color: #ee869d;
            }
            background-color: #ee869d;
            //background-image: url(../../images/main/main_bg2.png);

            .img_item {
                position: absolute;
                width: 15.8%;
                left: 22.5%;
                bottom: 6.5%;
            }
            .lottie_box {
                width: 376px;
                height: 391px;
                transform : translate(124px, 174px);
                .lottie_player {
                    width: 100%;
                    height: auto;
                }
            }

            .discussion_wrap {
                transform : translate(885px, 494px);
            }
            .discussion_box {
                &_tit {
                    font-size: 22px;
                    line-height: 1;
                    font-family: 'Godo';
                    font-weight: bold;
                }
                &_cont {
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 21px;
                    max-height: 63px;
                }
                &_result {
                    margin-top: 10px;
                    &_item {
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 15px;
                        line-height: 20px;
                        i {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-right: 4px;
                        }
                        .result_percent {
                            margin-right: 8px;
                        }
                        span {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        &3 {
            &::before {
                background-color: #55c1dd;
            }
            background-color: #55c1dd;
            //background-image: url(../../images/main/main_bg3.png);

            .lottie_box {
                width: 370px;
                height: 391px;
                transform : translate(701px, 358px);
                .lottie_player {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &4 {
           &::before {
            background-color: #73b77e;
           }
           background-color: #73b77e;
            //background-image: url(../../images/main/main_bg4.png);

            .lottie_box1 {
                width: 360px;
                height: 360px;
                transform : translate(41px, 149px);
            }
            .lottie_box2 {
                width: 360px;
                height: 360px;
                transform : translate(335px, 149px);
            }
        }
    }

}

.main_wrap {
    overflow: hidden;
}

.main_bot {
    padding-bottom: 160px;
    position: relative;
    z-index: 10;
}
.main_board {
    display: flex;
    &_sec {
        width: 50%;
        flex: 1;
        box-sizing: border-box;
    }
    &_notice {
        padding-right: 20px;
    }
    &_community {
        padding-left: 20px;
    }

    &_inner {
        background-color: #fff;
        border-radius: 12px;
        border: 3px solid #000;
        padding: 20px;
    }
    .tit_area {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
        .tit {
            font-size: 22px;
            line-height: 1.18;
            letter-spacing: -0.22px;
            color: #212121;
        }
        .btn_vm {
            font-size: 13px;
            line-height: 1.4;
            position: relative;
            padding-left: 14px;
            &::before {
                content: '';
                position: absolute;
                width: 9px;
                height: 1px;
                background-color: #424242;
                left: 0;
                top: 50%;
                margin-top: -0.5px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 9px;
                background-color: #424242;
                left: 4px;
                top: 50%;
                margin-top: -4.5px;
            }
        }
    }
    .main_list {
        li {
            & + li {
                margin-top: 5px;
            }
            a {
                padding-left: 10px;
                position: relative;
                display: block;
                font-size: 14px;
                line-height: 20px;
                color: #666;
                &::before {
                    content: '·';
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}




@media (max-width: 1920px) {
    .con_list_item {
        background-size: cover;
    }
}

@media (max-width: 1024px) {

}
@media (max-width: 930px) {

}

@media (max-width: 767px) {

}
