
.main {
    .header {
        background-color: transparent;
        border-bottom: none;
        .btn_nav .bar_box .bar {
            background-color: $c_key;
        }
    }
}

.con_list {
    position: relative;
    &_wrap {
        position: relative;
    }
    &_item {
        padding: 100px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 767px) {
           padding: 0;
        }

        &_tit {
            display: none;
            height: 14%;
            position: absolute;
            top: 12.5%;
            width: 100%;
            text-align: center;
            left: 0;
            z-index: 99;
            @media (max-width: 767px) {
                display: block;
            }
            a {
                height: 100%;
                display: inline-block;
                img {
                    height: 100%;
                }
            }
        }

        .lottie_box {
            .lottie_player {
                width: 100%;
                height: auto;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 100%;
        }
        .svg_box {
            max-width: 100%;
            width: 1160px;
            position: relative;
            padding: 0 140px;
            &_inner {
                padding-top: 62.0689%;
                position: relative;
                @media (max-width: 767px) {
                    padding-top: 183.33333%;
                }
            }
            .svg_cont {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                &.pc_only {
                    display: block;
                }
                &.m_only {
                    display: none;
                }
            }
            @media (max-width: 1200px) {
                padding: 0;
                padding-top: 100px;
            }
            @media (max-width: 767px) {
                padding-top: 0;
                .svg_cont {
                    &.pc_only {
                        display: none;
                    }
                    &.m_only {
                        display: block;
                    }
                }
            }
        }

        svg {
            max-width: 100%;
        }
        background-repeat: repeat-x;
        background-position: center center;

        .con_link {
            &.ty_ani {
                transform-origin: center center;
            }
        }

        .ico_detail {
            position: absolute;
            display: flex;
            border-radius: 12px;
            z-index: 10;
            &::before {
                content:'';
                opacity: 0;
                position: absolute;
                width: 24px;
                height: 24px;
                left: 0;
                top: 0;
                border-radius: 12px 0 0 12px;
                background-color: violet;
                transition: opacity .2s ease-in-out;
            }

            &1 {
                left: 32%;
                top: 61%;
            }
            &2 {
                right: 22%;
                bottom: 21%;
            }
            &3 {
                right: 23%;
                top: 29%;
            }
            i {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: violet;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 14px;
                    height: 2px;
                    background-color: #fff;
                    left: 50%;
                    top: 50%;
                    margin-top: -1px;
                    margin-left: -7px;
                    border-radius: 1px;
                    transition: all .2s ease-in-out;
                }
                &::after {
                    content:'';
                    position: absolute;
                    width: 2px;
                    height: 14px;
                    background-color: #fff;
                    left: 50%;
                    top: 50%;
                    margin-top: -7px;
                    margin-left: -1px;
                    border-radius: 1px;
                    transition: all .2s ease-in-out;
                }
            }
            a {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                line-height: 24px;
                white-space: nowrap;
                color: #fff;
                padding-right: 6px;
                padding-left: 24px;
                left: 0;
                top: 0;
                font-size: 12px;
                font-weight: 500;
                border-radius: 12px;
                z-index: 1;
                transition: opacity .2s ease-in-out;
                &::before {
                    content: '';
                    position: absolute;
                    left: 23px;
                    right: 0;
                    height: 100%;
                    background-color: violet;
                    border-radius: 0 12px 12px 0;
                    z-index: -1;
                }
            }

            &:hover, &.on {
                &::before {
                   opacity: 1;
                }
            }

            &.on a,
            &:hover a {
                opacity: 1;
                visibility: visible;
            }

            &.on i,
            &:hover i {
                &::before {
                    transform: rotate(-45deg);
                    width: 9px;
                    top: 60%;
                    transform-origin: 0 0;
                }
                &::after {
                    transform: rotate(90deg);
                    top: 60%;
                }
            }
        }



        @keyframes link_info_ani {
            0% {
                transform: scale(1);
                opacity: 1;
            }
            100% {
                transform: scale(1.8);
                opacity: 0;
            }
        }

        .link_info {
            position: absolute;
            z-index: 99;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(#000,.4);

            .ani_pos {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                transition: all .2s .4s ease-in-out;
                pointer-events: none;
                &::before {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    background-color: violet;
                    animation: link_info_ani 1s ease 0s infinite ;
                }
                &::after {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    left: 0;
                    top: 0;
                    background-color: violet;
                    animation: link_info_ani 1s ease .3s infinite ;
                }
            }


            &1 {
                left: 37%;
                top: 58%;
            }
            &2 {
                right: 25%;
                top: 54%;
            }
            &3 {
                right: 20%;
                top: 19%;
            }

            &_inner {
                max-width: 24px;
                height: 24px;
                white-space: nowrap;

                font-size: 0;
                border-radius: 12px;
                overflow: hidden;
                background-color: violet;
                border: 1px solid violet;
                transition: all .4s ease-in-out;
                display: flex;
            }






            &.ty_r {
                .link_info_inner {
                    flex-direction: row-reverse;
                }
                a {
                    padding-right: 0;
                    padding-left: 10px;
                }
            }

            i {
                width: 24px;
                height: 24px;
                position: relative;
                display: inline-block;
                flex-shrink: 0;
                &::before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 3px;
                    background-color: #fff;
                    top: 50%;
                    left: 50%;
                    margin-left: -6px;
                    margin-top: -1.5px;
                    transition: all .4s ease-in-out;
                    border-radius: 2px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 3px;
                    background-color: #fff;
                    top: 50%;
                    left: 50%;
                    margin-left: -6px;
                    margin-top: -1.5px;
                    transition: all .4s ease-in-out;
                    transform: rotate(90deg);
                    border-radius: 2px;
                }
            }
            a {
                display: inline-block !important;
                vertical-align: top;
                line-height: 24px;
                font-size: 14px;
                padding-right: 10px;
                color: #fff;
            }

            &:hover {
                .link_info_inner {
                    max-width: 300px;
                }

                .ani_pos {
                    opacity: 0;
                    transition-delay: 0s;
                }

                i {
                    &::before {
                        transform: rotate(-225deg);
                        width: 10px;
                        transform-origin: center 0;
                        margin-left: -4px;
                        margin-top: -1.5px;
                    }
                    &::after {
                        transform: rotate(225deg);
                        width: 10px;
                        margin-left: -4px;
                        margin-top: -1.5px;
                        transform-origin: center 3px;
                    }
                }
            }
            &.ty_r:hover {
                i {
                    &::before {
                        transform: rotate(225deg);
                        width: 10px;
                        transform-origin: center 0;
                        margin-left: -4px;
                        margin-top: -1.5px;
                    }
                    &::after {
                        transform: rotate(-225deg);
                        width: 10px;
                        margin-left: -4px;
                        margin-top: -1.5px;
                        transform-origin: center 3px;
                    }
                }
            }
        }



        @keyframes link_ani {
            0% { -webkit-transform: rotate(0); transform: rotate(0); }
            5% { -webkit-transform: rotate(4deg); transform: rotate(4deg); }
            10% { -webkit-transform: rotate(0); transform: rotate(0); }
            15% { -webkit-transform: rotate(-4deg); transform: rotate(-4deg); }
            20% { -webkit-transform: rotate(0); transform: rotate(0); }
            75% { -webkit-transform: rotate(0); transform: rotate(0); }
            85% { -webkit-transform: rotate(4deg); transform: rotate(4deg); }
            90% { -webkit-transform: rotate(0); transform: rotate(0); }
            95% { -webkit-transform: rotate(-4deg); transform: rotate(-4deg); }
            100% { -webkit-transform: rotate(0); transform: rotate(0); }
        }

        &1 {
            &::before {
                background-color: #8780bc;
            }


            background-image: url(../../images/main/BG_story.jpg);
            @media (max-width: 767px) {
                background-image: url(../../images/main/BG_story_m.png);
            }
            background-color: #8780bc;
            .lottie_box {
                position: absolute;
                width: 34%;
                left: 55%;
                bottom: 8%;
                @media (max-width: 767px) {
                    width: 72%;
                    left: 10%;
                    bottom: 4%;
                }
            }


            .main_story_list {
                //position: absolute;
                display: flex;
                //width: 30%;
                //left: 38.6%;
                //top: 13%;
                text-align: left;

                &_item {
                    width: 50%;
                    box-sizing: border-box;
                    &:nth-child(odd) {
                        padding-right: 32px;
                        @media (max-width: 767px) {
                            padding-right: 25px;
                        }
                    }
                    &:nth-child(even) {
                        padding-left: 32px;
                        @media (max-width: 767px) {
                            padding-left: 25px;
                        }
                    }
                }


                &_link {
                    display: block;
                    padding-top: 5px;
                }
                .sc_thumb {
                    padding-top: 0;
                    position: static;
                    &_img {
                        position: static;
                        width: 128px;
                        height: 128px;
                        @media (max-width: 767px) {
                            width: 100px;
                            height: 100px;
                        }
                    }
                }


                .tit {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 4px;
                    line-height: 1.2;
                }
                .writer_set {
                    margin-top: 4px;
                }
                .sc_tag {
                    display: block;
                    transform: translateY(9px);
                    margin-top: -13px;
                }
            }
            .con_link {
                position: absolute;
                &1 {
                    width: 10%;
                    height: 10%;
                    left: 31%;
                    bottom: 36%;
                }
                &2 {
                    width: 9%;
                    height: 17%;
                    right: 13.5%;
                    top: 16%;
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
        &2 {
            &::before {
                background-color: #ee869d;
            }
            background-color: #ee869d;
            background-image: url(../../images/main/BG_press.jpg);
            @media (max-width: 767px) {
                background-image: url(../../images/main/BG_press_m.png);
            }
            .img_item {
                position: absolute;
                width: 15.8%;
                left: 22.5%;
                bottom: 6.5%;
            }
            .lottie_box {
                position: absolute;
                width: 32%;
                left: 11%;
                top: 20%;
                .lottie_link {
                    position: absolute;
                    width: 90%;
                    height: 49%;
                    left: 0;
                    top: 0;
                }
                @media (max-width: 767px) {
                    width: 74%;
                    left: 6%;
                    top: 25%;
                }
            }

            .main_id_card {
                transform: translate(39px, 19px);
            }

            .reporter_card {
                display: flex;
                height: 266px;
                align-items: center;
                justify-content: center;

                &_logo {
                    img {
                        height: 50px;
                    }
                    margin-bottom: 6px;
                }
                &_thumb {
                    padding-top: 0;
                    position: static;
                    .img_box {
                        position: static;
                        margin: 0 auto;
                        width: 140px;
                        height: 140px;
                    }
                    &::before {
                        display: none;
                    }
                }
                &_id {
                    margin-top: 10px;
                    .name {
                        font-size: 26px;
                        line-height: 1.1;
                    }
                    .logo {
                        margin-top: 6px;
                        img {
                            height: 18px;
                        }
                    }
                }

                .login_box {
                    .img_login {
                        height: 60px;
                        margin-bottom: 6px;
                    }
                }
                .join_box {
                    margin-top: 15px;
                }
                .log_txt {
                    font-size: 14px;
                    line-height: 1.5;
                    color: #666;
                    margin-bottom: 6px;
                }

                .btn_reporter {
                    display: block;
                    width: 100%;
                    height: 40px;
                    background-color: #ff5050;
                    box-sizing: border-box;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    background-position: 17px center;
                    background-repeat: no-repeat;
                    background-size: 24px;
                }
                .btn_login {
                    display: block;
                    width: 100%;
                    height: 40px;
                    background-color: #f6c34b;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    background-image: url(../../images/nav_all/ico_login_small.svg);
                    background-position: 17px center;
                    background-repeat: no-repeat;
                }
                .btn_join {
                    display: block;
                    width: 100%;
                    border: 1px solid #f6c34b;
                    border-radius: 6px;
                    height: 40px;
                    box-sizing: border-box;
                    line-height: 38px;
                    background-image: url(../../images/nav_all/logo_ds.svg);
                    background-repeat: no-repeat;
                    background-position: 17px center;
                    background-color: #fff;
                    color: #424242;
                    font-weight: bold;
                }
            }






            .press_set {
                display: block;
                color: #fff;
                text-align: left;
                &_tit {
                    display: block;
                    font-size: 19px;
                    font-weight: 500;
                    font-family: 'Godo';
                    line-height: 1.2;
                }
                &_cont {
                    font-size: 14px;
                    line-height: 1.4;
                    margin-top: 2px;
                }
                .writer_set {
                    margin-top: 6px;
                    .level {
                        margin-left: 0;
                        position: static;
                        border-radius: 3px;
                        &_arrow {
                            display: none;
                        }
                    }
                }
            }
            .svg_cont2 {
                position: absolute;
                width: 55%;
                right: 10%;
                bottom: 5%;
                @media (max-width: 767px) {
                    max-width: none;
                    width: 154%;
                    right: -5%;
                    bottom: -4%;
                }
            }
            .svg_cont3 {
                position: absolute;
                width: 18.4%;
                left: 12.5%;
                top: 48.5%;
                @media (max-width: 767px) {
                    width: 43%;
                    left: 10%;
                    top: 47.5%;
                }
            }
            .svg_cont4 {
                position: absolute;
                width: 24%;
                height: 47%;
                top: 8.5%;
                left: 42%;
                @media (max-width: 767px) {
                    display: none;
                }
            }
            .discussion_wrap {
                transform : translate(477px, 131px);
            }
            .discussion_box {
                display: block;
                &_tit {
                    font-size: 22px;
                    line-height: 1;
                    font-family: 'Godo';
                    font-weight: bold;
                }
                &_cont {
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 21px;
                    max-height: 63px;
                }
                &_result {
                    margin-top: 10px;
                    &_item {
                        margin-top: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 15px;
                        line-height: 20px;
                        i {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-right: 4px;
                        }
                        .result_percent {
                            margin-right: 8px;
                        }
                        span {
                            font-weight: 500;
                        }
                    }
                }
            }

            .con_img {
                position: absolute;

                &1 {
                    width: 10%;
                    top: 13%;
                    left: 6.5%;
                }
                &2 {
                    width: 14%;
                    top: 12%;
                    right: 19%;
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }

        }
        &3 {
            &::before {
                background-color: #55c1dd;
            }
            background-color: #55c1dd;
            background-image: url(../../images/main/BG_play.jpg);
            @media (max-width: 767px) {
                background-image: url(../../images/main/BG_play_m.png);
            }
            .play_tv_box {
                transform: translate(370px, 79.5px);
            }
            .m_only .play_tv_box {
                transform: translate(54px, 231px);
            }
            .play_tv {
                width: 100%;
                height: 100%;

                &_link {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .lottie_box {
                position: absolute;
                width: 32%;
                right: 7%;
                bottom: 0;
                @media (max-width: 767px) {
                    width: 69%;
                    right: -5%;
                    bottom: 3%;
                }
            }

            .con_link {
                position: absolute;
                img {
                    width: 100%;
                }
                &1 {
                    width: 10%;
                    left: 16%;
                    bottom: 8%;
                    @media (max-width: 767px) {
                        width: 16%;
                        left: 4%;
                        bottom: 11%;
                    }
                }
                &2 {
                    width: 11%;
                    left: 29%;
                    bottom: 5%;
                    @media (max-width: 767px) {
                        width: 17%;
                        left: 23%;
                        bottom: 10%;
                    }
                }
            }
        }
        &4 {
           &::before {
            background-color: #73b77e;
           }
           background-color: #73b77e;
            background-image: url(../../images/main/BG_earth.jpg);
            @media (max-width: 767px) {
                background-image: url(../../images/main/BG_earth_m.png);
            }
            .lottie_box {
                position: absolute;
                width: 28%;
                top: 23.5%;
                &_link {
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &1 {
                    left: 5.5%;
                    @media (max-width: 767px) {
                        width: 80%;
                        left: -12%;
                        top: 34%;
                    }
                }
                &2 {
                    left: 30%;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
            .con_link {
                position: absolute;
                img {
                    width: 100%;
                }
                &1 {
                    width: 27%;
                    left: 19%;
                    bottom: 8%;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                &2 {
                    width: 12%;
                    height: 41%;
                    right: 37%;
                    bottom: 5%;
                    @media (max-width: 767px) {
                        width: 23%;
                        height: 29%;
                        right: 60%;
                        bottom: 5%;
                    }
                }

            }

            .earth_notice {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                font-size: 16px;
                &_wrap {
                    position: absolute;
                    width: 34%;
                    height: 36%;
                    overflow: hidden;
                    right: 3.3%;
                    bottom: 10%;
                    @media (max-width: 767px) {
                        width: 60%;
                        height: 25%;
                        bottom: 9%;
                        right: 0;
                    }
                }
                &_link {
                    display: block;
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    box-sizing: border-box;
                    position: relative;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                    .txt_box {
                        padding-top: 26px;
                        @media (max-width: 767px) {
                            padding-top: 15px;
                        }
                    }
                }
                &_tit {
                    display: inline-block;
                    margin-bottom: 20px;
                    font-size: 24px;
                    line-height: 1.2;
                    color: #3cb371;
                    @media (max-width: 767px) {
                        font-size: 36px;
                    }
                    &::after {
                        content:'';
                        display: block;
                        width: 100%;
                        height: 8px;
                        background-color: #ffffb9;
                        margin-top: -10px;
                    }
                }
                &_cont {
                    font-size: 16px;
                    line-height: 24px;
                    height: 72px;
                    padding: 0 20px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                        line-height: 30px;
                        height: 90px;
                    }
                }
                &_paging {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 13%;
                    z-index: 10;
                    .swiper-pagination-bullet {
                        width: 1em;
                        height: 1em;
                        margin: 0 0.4em;
                        &-active {
                            background-color: #3cb371;
                        }
                    }

                }
            }
            @media (max-width: 1160px) {
                .earth_notice {
                    font-size: 1.5vw;
                }
            }
        }
    }
    &_paging {
        &_wrap {
            position: absolute;
            width: 100%;
            max-width: 1600px;
            left: 50%;
            transform: translateX(-50%);
            top: 50%;
            z-index: 99;
            @media (max-width: 1600px) {
                max-width: none;
                transform: none;
                left: 40px;
                right: 40px;
                width: auto;
            }
            @media (max-width: 1200px) {
                top: 120px;
                left: auto;
                right: auto;
                width: 100%;
            }

        }
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 1200px) {
            position: relative;
            left: 0;
            top: 0;
            transform: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-pagination-bullet {
            display: block;
            width: 130px;
            height: 90px;
            background-color: transparent;
            opacity: 1;
            position: relative;
            transition: all .2s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;

            @media (max-width: 1200px) {
                width: 90px;
                height: auto;
                margin: 0 15px;
            }

            &.con_nav_item {
                & + .con_nav_item {
                    margin-top: 10px;
                    @media (max-width: 1200px) {
                        margin-top: 0;
                    }
                }
                &1, &4 {
                    transform: translateX(30px);
                    @media (max-width: 1200px) {
                        transform: translateX(0) translateY(15px);
                    }
                }
            }
            .nav_con_img {
                width: 100%;
                transition: all .2s ease-in-out;
            }
            .ico_pobi {
                position: absolute;
                width: 35%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: all .2s ease-in-out;
                z-index: -1;
                img {
                    width: 100%;
                }

            }
            &-active {
                height: 162px;
                @media (max-width: 1200px) {
                    height: 90px;
                    width: 130px;
                }
                .nav_con_img {
                    transform: scale(1.8);
                    @media (max-width: 1200px) {
                        transform: scale(1);
                    }
                }
                .ico_pobi {
                    left: 100%;
                    top: 6%;
                    transform: translate(0, 0) scale(2);
                    @media (max-width: 1200px) {
                        left: 70%;
                        top: -5%;
                        transform: translate(0, 0) scale(1);
                    }
                }
            }
        }
    }


}

.main_wrap {
    overflow: hidden;
}

.main_bot {
    margin-top: -70px;
    padding-bottom: 160px;
    position: relative;
    z-index: 10;
    @media (max-width: 767px) {
        margin-top: 0;
        padding-bottom: 40px;
    }
}
.main_board {
    display: flex;
    &_sec {
        width: 50%;
        flex: 1;
        box-sizing: border-box;
    }
    &_notice {
        padding-right: 20px;
    }
    &_community {
        padding-left: 20px;
    }

    &_inner {
        background-color: #fff;
        border-radius: 12px;
        border: 3px solid #000;
        padding: 20px;
    }
    .tit_area {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 10px;
        .tit {
            font-size: 22px;
            line-height: 1.18;
            letter-spacing: -0.22px;
            color: #212121;
        }
        .btn_vm {
            font-size: 13px;
            line-height: 1.4;
            position: relative;
            padding-left: 14px;
            &::before {
                content: '';
                position: absolute;
                width: 9px;
                height: 1px;
                background-color: #424242;
                left: 0;
                top: 50%;
                margin-top: -0.5px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 9px;
                background-color: #424242;
                left: 4px;
                top: 50%;
                margin-top: -4.5px;
            }
        }
    }
    .main_list {
        li {
            & + li {
                margin-top: 5px;
            }
            a {
                padding-left: 10px;
                position: relative;
                display: block;
                font-size: 14px;
                line-height: 20px;
                color: #666;
                &::before {
                    content: '·';
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}


.main_banner {
    overflow: hidden;
    margin-top: 40px;
    &_link {
        display: block;
        border-radius: 12px;
        overflow: hidden;
    }

    &_img {
        width: 100%;
        &.ty_m {
            display: none;
        }
        @media (max-width: 767px) {
            &.ty_m {
                display: block;
            }
            &.ty_pc {
                display: none;
            }
        }
    }
    @media (max-width: 767px) {
        overflow: visible;
        margin: 30px -5px 0;
        &_item {
            padding: 0 5px;
            box-sizing: border-box;
        }
    }
}



@media (max-width: 1920px) {
    .con_list_item {
        background-size: cover;
    }
}



@media (max-width: 1024px) {

}
@media (max-width: 930px) {

}

@media (max-width: 767px) {

    .con_list {
        display: block;
        .con_list_wrapper {
            display: block;
        }
        &_paging {
            &_wrap {
                display: none;
            }
        }
    }
    .main_board {
        display: block;
        &_sec {
            width: 100%;
        }
        &_notice {
            padding-right: 0;
        }
        &_community {
            padding: 0;
            margin-top: 30px;
        }
        &_inner {
            border-width: 1px;
        }
        .tit_area {
            .tit {
                font-size: 18px;
            }
        }
        .main_list {
            li {
                a {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}
