



.mp_myinfo {

    &_cont {
        display: flex;
        align-items: center;
        padding: 40px;
        border-radius: 0 0 6px 6px;
    }
    &_left {
        width: 360px;
        flex-shrink: 0;
        align-self: flex-start;
    }
    &_right {
        flex: 1;
        min-width: 0;
        padding-left: 50px;

        .top_cont {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 20px;
        }
        .mp_member {
            &_name {
                display: flex;
                align-items: center;
                .log_ico_sns {
                    width: 34px;
                    height: 34px;
                    box-sizing: border-box;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    overflow: hidden;
                    margin-right: 6px;
                    img {
                        width: 100%;
                    }
                }
                .name {
                    font-size: 32px;
                    line-height: 1.1;
                }
                .tag_level {
                    margin-left: 10px;
                }
            }
            &_mail {
                margin-top: 10px;
                font-size: 18px;
                line-height: 1.33;
            }
        }
    }



    .reporter_card_wrap {
        padding: 40px 25px;
        border: 1px solid #ddd;
        border-radius: 20px;
    }
    .reporter_card {
        max-width: none;
    }

    .reporter_info {
        padding: 20px 0;
        &_btns {
            display: flex;
            justify-content: center;
            font-size: 0;
            margin: 0 -5px;
            margin-top: 30px;
            li {
                //max-width: 170px;
                width: 50%;
                padding: 0 5px;
                box-sizing: border-box;
            }
        }
        &_btn {
            height: 100%;
            display: flex;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-sizing: border-box;
            padding: 15px 10px 20px;
            border-radius: 8px;
            transition: all .1s ease-in-out;
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
            }
            .ico_box {
                display: flex;
                height: 48px;
                align-items: center;
                justify-content: center;
            }
            .txt_box {
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
                line-height: 20px;
                position: relative;
                margin-top: 4px;
                padding-right: 10px;
                &::after {
                    content:'';
                    position: absolute;
                    width: 6px;
                    height: 10px;
                    background-image: url(../../images/ico/arrow_next.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    right: 0;

                    top: 50%;
                    margin-top: -3px;
                }
            }
        }
        &_top {
            text-align: center;
            .log_msg {
                font-size: 17px;
                line-height: 1.65;
                letter-spacing: -0.17px;
            }
            .name {
                display: block;
                font-size: 24px;
                line-height: 27px;
                letter-spacing: -0.24px;
                color: #212121;
            }
            .desc {
                font-size: 17px;
                line-height: 1.4;
                letter-spacing: -0.17px;
                margin-top: 4px;
            }
            .caution {
                display: block;
                font-size: 12px;
                line-height: 1.42;
                letter-spacing: -0.12px;
                color: #999;
                margin-top: 5px;
            }
        }
    }
}






.list_activity {
    max-height: 200px;
    overflow-y: auto;
}

.pf_cont {
    &_sec {
        padding: 20px 0;
        & + & {
            border-top: 1px solid #eee;
        }
    }
    .id_box {
        display: flex;
        &_input {
            height: 40px;
            background-color: #fef7e8;
            padding: 0 10px;
            font-size: 14px;
            border: none;
            width: auto;
            flex: 1;
            min-width: 0;
            margin-right: 10px;
            border-radius: 4px;
            outline: none;
        }
        .btn_mid {
            flex-shrink: 0;
        }
    }
    .tit {
        display: block;
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 10px;
        .tip {
            display: inline-block;
            font-size: 12px;
            font-weight: 300;
            color: #666;
        }
    }
    .input_list {
        font-size: 0;
        margin-left: -10px;
        .sc_radio {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;
        }
    }
}

.dsp_cont {
    padding-bottom: 30px;
    .sub_sec_tit {
        .lv_info {
            display: flex;
            &_item {
                display: flex;
                align-items: center;
                & + .lv_info_item {
                    margin-left: 20px;
                }
                &_tit {
                    font-size: 15px;
                    font-weight: 400;
                }
                .cont {
                    font-size: 18px;
                    margin-left: 6px;
                    font-weight: bold;
                }
            }
        }
    }

    .lv_box {
        &_status {
            display: flex;
            padding-top: 35px;
            &_item {
                text-align: center;
                flex: 1;
                .txt_box {
                    font-size: 12px;
                    line-height: 1.2;
                    margin-top: 7px;
                }
                .lv_bar {
                    display: block;
                    position: relative;
                    height: 6px;
                    width: 100%;
                    &.lv1 {
                        background-color: #e74c3c;
                        .lv_tooltip {
                            background-color: #e74c3c;
                            &::after {
                                border-left-color: #e74c3c;
                            }
                        }
                    }
                    &.lv2 {
                        background-color: #e97820;
                        .lv_tooltip {
                            background-color: #e97820;
                            &::after {
                                border-left-color: #e97820;
                            }
                        }
                    }
                    &.lv3 {
                        background-color: #ecb000;
                        .lv_tooltip {
                            background-color: #ecb000;
                            &::after {
                                border-left-color: #ecb000;
                            }
                        }
                    }
                    &.lv4 {
                        background-color: #b6ce00;
                        .lv_tooltip {
                            background-color: #b6ce00;
                            &::after {
                                border-left-color: #b6ce00;
                            }
                        }
                    }
                    &.lv5 {
                        background-color: #55aad8;
                        .lv_tooltip {
                            background-color: #55aad8;
                            &::after {
                                border-left-color: #55aad8;
                            }
                        }
                    }
                    &.lv6 {
                        background-color: #3070ae;
                        .lv_tooltip {
                            background-color: #3070ae;
                            &::after {
                                border-left-color: #3070ae;
                            }
                        }
                    }
                    &.lv7 {
                        background-color: #8650c7;
                        .lv_tooltip {
                            background-color: #8650c7;
                            &::after {
                                border-left-color: #8650c7;
                            }
                        }
                    }
                }

                &.on {
                    .lv_tooltip {
                        display: block;
                    }
                    .txt_box {
                        font-weight: bold;
                    }
                }
                .lv_tooltip {
                    display: none;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #ddd;
                    line-height: 30px;
                    text-align: center;
                    top: -35px;
                    left: 50%;
                    margin-left: -15px;
                    z-index: 10;
                    font-size: 18px;
                    font-weight: bold;
                    font-family: Arial;
                    color: #fff;
                    &::after {
                        content: '';
                        position: absolute;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 10px solid #ddd;
                        left: 50%;
                        bottom: -5px;
                        margin-left: -2.5px;
                        z-index: -1;
                    }
                }
            }
        }
        &_info {
            margin-top: 25px;
            font-size: 15px;
            line-height: 40px;
            border-radius: 6px;
            background-color: #fef7e8;
        }
    }
    .point_info {
        margin-top: 40px;
    }
}

.mp_greeting {
    padding: 40px;
    text-align: center;

    box-sizing: border-box;
    &_txt {
        font-size: 58px;
        line-height: 1.2;
        color: $c_key;
        font-weight: 300;
    }
}

.mp_join {
    .reporter_card_wrap {
        padding: 40px 0;
    }
    &_form {
        padding: 0 20px;
        border-top: 1px solid $c_key2;
        border-bottom: 1px solid $c_key2;
    }
    &_bot {
        padding: 30px 20px;
    }
}

.form_sec {
    padding: 20px 0;

    & + & {
        border-top: 1px solid #eee;
    }
    .form_label {
        display: block;
        font-size: 15px;
        line-height: 21px;
        margin-bottom: 10px;
        font-weight: bold;
        .tag_required {
            display: inline-block;
            color: #ff5050;
            font-size: 12px;
            margin-left: 4px;
            font-weight: normal;
            vertical-align: top;
        }
    }
    .form_cont {
        display: flex;
        margin: 0 -5px;
        & + .form_cont {
            margin-top: 10px;
        }
        & > * {
            margin: 0 5px;
        }
        .input_ty1 {
            flex: 1;
            max-width: 200px;
        }
        .select_ty1 {
            max-width: 100px;
        }
    }
    .form_caution {
        margin-top: 10px;
        font-size: 12px;
        line-height: 17px;
        color: #666;
        li {
            position: relative;
            padding-left: 12px;
            &::before {
                content:'※';
                position: absolute;
                left: 0;
                top: 0;
            }
            & + li {
                margin-top: 4px;
            }
        }
    }
}

.form_responsive {
    border-top: 1px solid $c_key2;
    .form_sec {
        display: flex;
        .form_label {
            width: 200px;
            padding-right: 15px;
            box-sizing: border-box;
            line-height: 40px;
            margin-bottom: 0;
        }
        .form_cont_wrap {
            flex: 1;
        }
        .pw_current {
            padding-right: calc(50% + 5px);
        }
    }
}



@media (max-width:1024px) {
    .mp_myinfo {
        &_cont {
            display: block;
        }
        &_left {
            margin: 0 auto;
            width: auto;
            max-width: 360px;
        }
        &_right {
            padding-left: 0;
            margin-top: 40px;
        }
    }

}

@media (max-width: 767px) {


    .mp_myinfo {
        &_right {
            margin-top: 30px;
            .top_cont {
                display: block;
                .mp_member {
                    text-align: center;
                    margin-bottom: 20px;
                    padding: 15px;
                    background-color: #fef7e8;
                    border-radius: 6px;
                    border: 1px solid $c_key2;
                    &_name {
                        justify-content: center;
                        .log_ico_sns {
                            width: 24px;
                            height: 24px;
                            margin-right: 4px;
                            background-color: #fff;
                        }
                        .name {
                            font-size: 20px;
                        }
                    }
                    &_mail {
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
                .btn_big {
                    width: 100%;
                }
            }
        }
    }



    .mp_myinfo_cont {
        padding: 20px;
    }


    .dsp_cont {
        padding-bottom: 40px;

        .sub_sec_tit {
            display: block;
            padding: 0;
            height: auto;
            .tit {
                padding: 0 20px;
                height: 60px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid $c_key2;
            }
            .lv_info {
                padding: 0 20px;
                display: block;
                &_item {
                    border-bottom: 1px solid #ddd;
                    height: 44px;
                    &_tit {
                        width: 120px;
                        font-size: 13px;
                    }
                    & + .lv_info_item {
                        margin-left: 0;
                    }
                    .cont {
                        margin-left: 0;
                        font-size: 15px;
                    }
                }
            }
        }
        .lv_box {
            margin-top: 20px;
            &_status {
                &_item {
                    .txt_box {
                        font-size: 11px;
                        .lv_range {
                            display: none;
                        }
                    }
                }
            }
            &_info {
                font-size: 13px;
            }
        }
        .point_info {
            margin-top: 30px;
        }
    }

    .form_responsive {
        .form_sec {
            display: block;
            .form_label {
                line-height: 21px;
                margin-bottom: 10px;
                width: auto;
                padding-right: 0;
            }
            // .pw_current {
            //     padding-right: 0;
            // }
            // .pw_new {
            //     display: block;
            //     .input_ty1 {
            //         display: block;
            //         & + .input_ty1 {
            //             margin-top: 10px;
            //         }
            //     }
            // }
        }
    }
}
