.btn_nav {
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    .bar_box {
        width: 20px;
        height: 14px;
        position: relative;
        .bar {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #212121;
            left: 0%;
            transition: all .2s ease-in-out;
            &.top {
                top: 0;
            }
            &.mid {
                top: 6px;
            }
            &.bot {
                width: 60%;
                top: 12px;
            }

        }
    }

    &.on {
        .bar_box {
            .bar {
                &.top {
                    transform: rotate(45deg);
                    top: 6px;
                }
                &.mid {
                    width: 0;
                }
                &.bot {
                    width: 100%;
                    transform: rotate(-45deg);
                    top: 6px;
                }

            }
        }
    }
}
.nav_all {

    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 40px;
    box-sizing: border-box;

    .close_nav_all {
        display: none;
    }

    &.on {
        display: block;
    }

    &_inner {
        margin: 0 auto;
        max-width: 1140px;

        display: flex;
        flex-flow: row-reverse;
    }

    &_btn_main {
        display: none;
    }

    &_list {
        &_wrap {
            flex: 1;
            min-width: 0;
            padding-top: 100px;
            padding-bottom: 80px;
            position: relative;
            .btn_pp {
                position: absolute;
                right: 34px;
                bottom: 0;
                width: 37%;
                max-width: 320px;
            }
        }
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;
    }
    &_item {
        width: 146px;
        margin-top: 20px;
        &_tit, &_link {
            display: block;
            font-family: 'Godo';
            font-weight: 500;
            font-size: 20px;
            line-height: 40px;
            &.btn_dep2 {
                display: none;
            }
        }

    }
    &_dep2 {
        margin-top: 10px;
        font-size: 16px;
        line-height: 2.2;
        color: #424242;
        a {
            display: inline-block;
        }
        &_item:hover {
            &:hover {
                text-shadow:  0 0 0.8px rgba(0, 0, 0, 1);
            }
        }
    }


    &_top {
        display: flex;
        align-items: center;
        width: 260px;
        padding: 30px ;
        box-sizing: border-box;
        flex-shrink: 0;
        background-color: #fef7e8;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-color: #fef7e8;
            left: 0;
            top: 0;
            width: 50vw;
            height: 100%;
            z-index: -1;
        }

        &_cont {
            flex: 1;
        }

        .log_in_box {
            p {
                font-size: 14px;
                line-height: 1.43;
                margin: 10px 0;
                color: #666;
            }
        }
        .join_box {
            margin-top: 20px;
            p {
                font-size: 14px;
                line-height: 1.43;
                color: #666;
                margin-bottom: 10px;
            }
        }
        .log_info {
            .btn_pp {
                display: none;
            }
        }
        .btn_login {
            display: block;
            width: 100%;
            height: 40px;
            background-color: $c_key;
            border-radius: 6px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            background-image: url(../../images/nav_all/ico_login_small.svg);
            background-position: 17px center;
            background-repeat: no-repeat;
        }
        .btn_join {
            display: block;
            width: 100%;
            border: 1px solid $c_key;
            border-radius: 6px;
            height: 40px;
            box-sizing: border-box;
            line-height: 38px;
            background-image: url(../../images/nav_all/logo_ds.svg);
            background-repeat: no-repeat;
            background-position: 17px center;
            background-color: #fff;
            color: #424242;
            font-weight: bold;
        }

        .member_box {
            &_img {
                display: block;
                position: relative;
                width: 120px;
                height: 120px;
                margin: 0 auto;
                border: 4px solid $c_key;
                box-sizing: border-box;
                border-radius: 20px;
                overflow: hidden;
                background-image: url(../../images/nav_all/member_normal.svg);
                background-position: center 13px;
                background-size: contain;
                background-color: #fff;
                background-repeat: no-repeat;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 0;
                }

                &.ty_pp_member {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 38px;
                        height: 24px;
                        background-image: url(../../images/nav_all/pp_logo.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        left: 50%;
                        bottom: 9px;
                        margin-left: -19px;
                    }
                }
            }
            &_name {
                display: block;
                font-size: 30px;
                font-family: 'Godo';
                font-weight: normal;
                color: #212121;
                margin-top: 10px;
                .tag_level {
                    display: none;
                }
            }
            &_txt {
                font-size: 14px;
                line-height: 1.43;
                margin-top: 5px;
                color: #6b6b6b;
            }

            &_lv {
                margin-top: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                .point {
                    white-space: nowrap;
                    word-break: break-all;
                    font-size: 13px;
                    line-height: 20px;
                    b {

                        vertical-align: top;
                        font-size: 16px;
                    }
                }
                .tag_level {
                    flex-shrink: 0;
                }
            }
        }
        &_btns {
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
        }
        &_btn {
            height: 90px;
            width: 90px;

            box-sizing: border-box;
            border: 1px solid $c_key;
            border-radius: 6px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            position: relative;


            &.m_only {
                display: none;
            }
            .img_box {

                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 6px;
            }
            strong {
                display: block;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.2px;
            }

        }
    }

    .pp_tooltip {
        display: none;
        position: absolute;
        white-space: nowrap;
        font-size: 13px;
        line-height: 18px;
        background-color: #fae1a4;
        border-radius: 6px;
        box-shadow: 3px 3px 0 0 rgba(81, 57, 0, 0.2);
        padding: 8px 20px 8px 8px;
        letter-spacing: -.33px;
        left: 90%;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        z-index: 99;
        cursor: default;
        color: #513900;
        &.on {
            display: block;
        }
        &::before {
            content: '';
            right: 100%;
            position: absolute;
            border-left: 10px solid transparent;
            border-top: 10px solid #fae1a4;
            top: 50%;
            transform: translateY(-50%);
        }
        .close_tooltip {
            position: absolute;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background-image: url(../../images/nav_all/close_nav_all.svg);
            background-size: 8px;
            background-repeat: no-repeat;
            background-position: center center;
            right: 0;
            top: 2px;
        }
    }
}



.tag_level {
    display: inline-block;
    padding: 0 5px;
    position: relative;
    font-size: 11px;
    line-height: 15px;
    color: #fff;
    border-radius: 3px 3px 3px 0;
    margin-left: 9px;
    &_arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top-width: 8px;
        border-top-style: solid;
        left: -5px;
        bottom: 0;
    }
    b {
        display: inline-block;
        vertical-align: top;
        font-size: 13px;
        line-height: 16px;
        font-weight: bold;
    }
    &.lv1 {
        background-color: #e74c3c;
        .tag_level_arrow {
            border-top-color: #e74c3c;
        }
    }
    &.lv2 {
        background-color: #e97820;
        .tag_level_arrow {
            border-top-color: #e97820;
        }
    }
    &.lv3 {
        background-color: #ecb000;
        .tag_level_arrow {
            border-top-color: #ecb000;
        }
    }
    &.lv4 {
        background-color: #b6ce00;
        .tag_level_arrow {
            border-top-color: #b6ce00;
        }
    }
    &.lv5 {
        background-color: #55aad8;
        .tag_level_arrow {
            border-top-color: #55aad8;
        }
    }
    &.lv6 {
        background-color: #3070ae;
        .tag_level_arrow {
            border-top-color: #3070ae;
        }
    }
    &.lv7 {
        background-color: #8650c7;
        .tag_level_arrow {
            border-top-color: #8650c7;
        }
    }
}


@media (max-width:1024px) {
    .nav_all {
        padding: 0 30px;
        padding-right: 0;
        &_list {
            &_wrap {
                .btn_pp {
                    right: 20px;
                    width: 42%;
                }
            }
        }
    }
}


@media (max-width:767px) {
    .nav_all {
        display: block;
        z-index: 10000;
        padding: 0;
        width: 300px;
        overflow-y: auto;
        background-color: #fff;
        height: 100%;
        max-height: 100%;
        //max-height: calc(100% - 40px);
        border-radius: 0 0 30px 0;
        box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2);

        transition: left .4s ease-in-out, opacity .4s ease-in-out;
        top: 0;
        left: -330px;
        &.on {
            left: 0;
        }

        .close_nav_all {
            display: block;
            position: absolute;
            z-index: 10;
            width: 50px;
            height: 50px;
            right: 0;
            top: 0;
            background: url(../../images/nav_all/close_nav_all.svg) no-repeat center center;
        }


        &_inner {
            display: block;
        }
        &_top {
            display: block;
            width: 100%;
            padding: 0;
            overflow: hidden;
            &::after {
                display: none;
            }



            .log_info {
                padding: 20px;
                .btn_pp {
                    display: block;
                    width: 240px;
                    margin: 0 auto;
                    margin-top: 20px;
                }
            }
            .btn_login, .btn_join {
                width: 200px;
                margin-left: auto;
                margin-right: auto;
            }

            .member_box {
                padding: 20px;
                display: flex;
                text-align: left;
                align-items: center;
                &_img {
                    width: 80px;
                    height: 80px;
                    margin: 0;
                    flex-shrink: 0;
                    border-width: 3px;
                    &.ty_pp_member {
                        &::before {
                            width: 26px;
                            height: 16px;
                            margin-left: -13px;
                            bottom: 4px;
                        }
                    }

                }
                &_info {
                    flex: 1;
                    min-width: 0;
                    padding-left: 10px;
                }
                &_name {
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    line-height: 27px;
                    margin-top: 0;
                    .name {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        min-width: 0;
                    }
                    .tag_level {
                        display: block;
                        flex-shrink: 0;
                        height: auto;
                        font-family: 'Noto Sans KR';
                    }
                }
                &_lv {
                    margin-top: 4px;
                    display: block;
                    .point {
                        font-size: 13px;
                    }
                    .tag_level {
                        display: none;
                    }
                }
            }

            &_btns {
                margin-left: -1px;
                margin-top: 0;
                justify-content: flex-start;
                border-top: 1px solid $c_key;
            }
            &_btn {
                &.m_only {
                    display: flex;
                }
                flex: 1;
                max-width: 50%;
                border: none;
                border-radius: 0;
                border-left: 1px solid $c_key;
                box-sizing: border-box;
                height: 80px;

                strong {
                    font-size: 13px;
                }
            }
        }
        &_btn_main {
            display: flex;

            height: 40px;
            padding: 0 20px;
            background-color: $c_key;
            align-items: center;
            .logo {
                width: 94px;
            }
            span {
                font-size: 14px;
                color: #fff;
                margin: 0 10px;
            }
        }
        &_list {
            display: block;
            margin-top: 0;
            &_wrap {
                padding-top: 0;
                padding-bottom: 0;
                .btn_pp {
                    display: none;
                }
            }

        }
        &_item {
            width: 100%;
            margin-top: 0;
            &_tit {
                display: none;
                &.btn_dep2 {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 8px;
                        background-image: url(../../images/nav_all/dep2_arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        right: 20px;
                        top: 50%;
                        margin-top: -4px;

                        @at-root .nav_all_item.on .nav_all_item_tit.btn_dep2::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }


            &_tit, &_link {
                padding: 0 20px;
                font-size: 14px;
                line-height: 40px;
            }
            border-bottom: 1px solid #f1f1f1;

        }
        &_dep2 {
            display: none;
            @at-root .nav_all_item.on & {
                display: block;
            }
            border-top: 1px solid #f1f1f1;
            padding: 2px 20px;
            margin-left: -30px;
            margin-top: 0;
            background-color: #f9f9f9;
            font-size: 14px;
            line-height: 40px;
            &_item {
                display: inline-block;
                vertical-align: top;
                margin-left: 30px;

            }
        }
    }
}